body {
			background-image: url('http://crunchify.com/bg.png');
		}
input.invalid, textarea.invalid{
    border: 2px solid red;
}
 
input.valid, textarea.valid{
    border: 2px solid green;
}

textarea{
    vertical-align: top;
    height: 5em;
  	width: 19em;
}

.error{
    display: none;
    margin-left: 10px;
}       
 
.error_show{
    color: red;
    margin-left: 10px;
}
